<li data-transition="fade" data-masterspeed="500" >

<% if slide.image_upload.present? %>
  <img src="<%= image_path(slide.image_upload.file.url(:slider)) %>" alt="<%= slide.header %>" data-bgposition="left center" data-kenburns="on" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
<% end %>
  <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-heading"
    data-x="0" data-hoffset="0"
    data-y="105" data-voffset="0"
    data-captionhidden="off"
    data-speed="800"
    data-start="500"
    data-easing="Power4.easeInOut"
    data-splitin="none"
    data-splitout="none"
    data-elementdelay="0.05"
    data-endelementdelay="0.1"
    data-endspeed="1000"
    data-endeasing="Power1.easeOut">
    <%= slide.header if slide.header.present? %>
    <br/>
    <% if slide.header2.present? %><div><%= slide.header2 %></div><% end %>
  </div>

  <% if slide.content.present? %>
  <div class="tp-caption fadeout sfr sport-rs-boxed sport-rs-text"
    data-x="0" data-hoffset="0"
    data-y="230" data-voffset="0"
    data-captionhidden="off"
    data-speed="800"
    data-start="750"
    data-easing="Power4.easeInOut"
    data-splitin="none"
    data-splitout="none"
    data-elementdelay="0.05"
    data-endelementdelay="0.1"
    data-endspeed="1000"
    data-endeasing="Power1.easeOut">
    <%= slide.content %>
  </div>
  <% end %>

  <div class="tp-caption fadeout sfr tp-resizeme"
    data-x="0" data-hoffset="0"
    data-y="400" data-voffset="0"
    data-speed="800"
    data-start="1000"
    data-easing="Power4.easeInOut"
    data-splitin="none"
    data-splitout="none"
    data-elementdelay="0.05"
    data-endelementdelay="0.1"
    data-endspeed="1000"
    data-endeasing="Power1.easeOut">
    <% unless current_user %>
        <a class="btn" href="<%= new_user_registration_path %>"><%= t(:sign_up) %></a>&nbsp;
    <% end %>
    <% if slide.link.present? %>
        <a class="btn-2" href="<= slide.link %>">Läs mer</a>
    <% end %>
  </div>
</li>
