<% content_for :title, I18n.t(:sign_up) %>
<% content_for :header, I18n.t(:sign_up) %>
<% content_for :description, I18n.t(:sign_up) %>
<% content_for :meta do %>
<% end %>

<div class="inner-content page">
  <h1><%= I18n.t(:sign_up) %></h1>

  <p><%= I18n.t(:sign_up_text) %></p>

  <div class="eight column">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="clearfix">
        <div class="col-1-4 price">
          <h3><span>300:-<span>/år</span></span>Vuxna</h3>
          <div class="price-detail">
          <p><strong>Ordinarie medlemsskap.</strong></p>
          <ul>
            <li>+200:- inträdesavgift</li>
            <li>Rabatterat fiske i Drängsjön</li>
          </ul>
            <%= f.radio_button :regular, '1', checked: resource.regular, data: { price: 300 } %>
            <strong><%= f.label :regular, value: '1' %></strong>
          </div>
        </div>

        <!-- price-feature -->
        <div class="col-1-4 price">
          <h3><span>175:-<span>/år</span></span>Junior /<br>Pensionärer</h3>
          <div class="price-detail">
          <p><strong>Ordinarie medlemsskap för personer under 18 eller över 65.</strong></p>
          <ul>
            <li>+200:- inträdesavgift</li>
            <li>Rabatterat fiske i Drängsjön</li>
          </ul>
            <%= f.radio_button :regular, '0', checked: !resource.regular, data: { price: 175 } %>
            <strong><%= f.label :regular, value: '0' %></strong>
          </div>
        </div>

        <div class="col-1-4 price price">
          <h3><span>+200:-<span>/år</span></span>Tillgång till Stora Mossön</h3>
          <div class="price-detail">
          <p><strong>Aktiverad nyckelbricka Stora Mossön som ger tillgång till:</strong></p>
          <ul>
            <li>Övernattningsstuga och kök </li>
            <li>Bastu</li>
            <li>Harvia strandkök (fiskrök)</li>
          </ul>
          <%= f.check_box :package1, data: { price: 200 } %>
          <strong><%= f.label :package1 %></strong>
          </div>
        </div>

        <div class="col-1-4 price last">
          <h3><span>+700:-<span>/år</span></span>Årsfiskekort i drängsjön</h3>
          <div class="price-detail">
          <p><strong>Tillåtelse att fiska i drängsjön utan extra avgift.</strong></p>
          <ul>
            <li>Annars kostar det 50kr / fisketillfälle.</li>
          </ul>
          </div>
          <%= f.check_box :package2, data: { price: 700 } %>
          <strong><%= f.label :package2 %></strong>
        </div>
      </div>

      <div>

        <div>
        <%= f.label 'Total kostnad:' %> <strong><span id='total-cost'></span> kr</strong>. Därefter <span id='total-year-cost'></span> kr per år.

        </div>
        <br />

        <%= f.label :firstname %>
        <%= f.text_field :firstname %>

        <%= f.label :lastname %>
        <%= f.text_field :lastname %>

        <%= f.label :identity_number %> <%= t :'identity_number_hint' %>
        <%= f.text_field :identity_number %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :telephone %>
        <%= f.text_field :telephone %>

        <%= f.label :address %>
        <%= f.text_field :address %>

        <%= f.label :postal_address %>
        <%= f.text_field :postal_address %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit I18n.t(:sign_up) %>
      </div>
  <% end %>

  </div>

</div>
