<% content_for :lead do %>
  <%= t :welcome %> <%= @user.name %>

<% end %>

<p>
  <%= t(:due_amount, price: @user.price) %>
</p>

<p>
  <%= I18n.t(:almost_done) %> <a href="<%= ActionMailer::Base.default_url_options[:host] %>"><%= ActionMailer::Base.default_url_options[:host] %></a>

</p>
<p>
<%= I18n.t(:bank_account) %>  847-4900 
<a> Skriv gärna ditt namn och person nr som referens </a> 
<p/>

<p>
  Du kommer få ett nytt mail när du har blivit godkänd av en administratör.
</p>
