<% content_for :lead do %>
  <%= t :welcome %> <%= @user.name %>
<% end %>

<p>
  <%= I18n.t(:member_of) %> <a href="<%= ActionMailer::Base.default_url_options %>"><%= ActionMailer::Base.default_url_options %></a>
</p>

<p>
  Du kommer få ett nytt mail när du har blivit godkänd av en administratör.
</p>
