<% content_for :lead do %>
  <%= t :welcome %> <%= @user.name %>
<% end %>

<p>
  <%= I18n.t(:member_of) %> <a href="<%= Rails.application.routes.default_url_options[:host] %>"><%= Rails.application.routes.default_url_options[:host] %></a>
</p>

<p>
  Du kommer få ett nytt mail när du har blivit godkänd av en administratör.
</p>
