<%= form_for(@location_report) do |f| %>
  <% if @location_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location_report.errors.count, "error") %> <%= I18n.t('prohibited_this_location_report_from_being_saved') %>: </h2>

      <ul>
      <% @location_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="error_output"></div>

  <div class="field">
    <%= f.label I18n.t('comment') %><br>
    <%= f.text_area :comment %>
  </div>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>


    <script type="text/javascript" charset="utf-8">
        function getLocationData() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(processData, processErrors);
            }
            else
            {
                showNotSupportedError();
            }
            return false;
        }
        function processData(location) {
            $("#location_report_latitude").val(location.coords.latitude);
            $("#location_report_longitude").val(location.coords.longitude);
            $('#new_location_report').submit();
        }
        function processErrors(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    wrapError("<%= I18n.t('User_denied_the_request_for_geolocation') %>");
                    break;
                case error.POSITION_UNAVAILABLE:
                    wrapError("<%= I18n.t('Location_information_is_unavailable') %>");
                    break;
                case error.TIMEOUT:
                    wrapError("<%= I18n.t('The_request_to_get_user_location_timed_out') %>");
                    break;
                case error.UNKNOWN_ERROR:
                    wrapError("<%= I18n.t('An_unknown_error_occurred') %>");
                    break;
            }
        }
        function showNotSupportedError() {
            wrapError("<%= I18n.t('No_geolocation_support') %>");
        }
        function wrapError(text) {
            var output = $('#error_output');
            var msg = '<div class="message error">'+text+'</div>';
            output.html(msg);
        }
    </script>
<% end %>
<button onclick="getLocationData()"><%= I18n.t('send_location_report') %></button>

