<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      <%= I18n.t(:hello) %> <%= @user.name %>
    </h1>
    <% if @all_empty %>
      <p>
        <%= I18n.t(:notification_all_empty) %>
      </p>
    <% else %>
      <p>
        <%= I18n.t(:notification_since_last_date) %>
      </p>
        <% if @news.any? %>
          <p>
            <strong><%= I18n.t(:new_news_count, count: @news.count).humanize %></strong><br/>
            <% @news.each do |news| %>
              <%= link_to news.subject, news_url(news) %> <%= I18n.t(:with_comments_count, count: news.comment_threads.count) %><br/>
            <% end %>
          </p>
        <% end %>

        <% if @topics.any? %>
          <p>
            <strong><%= I18n.t(:new_threads_count, count: @topics.count).humanize %></strong><br/>
            <% @topics.each do |topic| %>
              <%= link_to topic.subject, topic_url(topic) %> <%= I18n.t(:with_comments_count, count: topic.comment_threads.count) %><br/>
            <% end %>
          </p>
        <% end %>

        <% if @comments.any? %>
          <p>
            <strong><%= I18n.t(:new_other_comments_count, count: @comments.count).humanize %></strong><br/>
            <% @old_news.keys.each do |news| %>
              <%= I18n.t(:the_news) %> <%= link_to news.subject, news_url(news) %>, <%= I18n.t(:with_new_comments_count, count: @old_news[news].count) %><br/>
            <% end %>
            <% @old_topics.keys.each do |topic| %>
              <%= I18n.t(:the_thread) %> <%= link_to topic.subject, topic_url(topic) %>, <%= I18n.t(:with_new_comments_count, count: @old_topics[topic].count) %><br/>
            <% end %>
          </p>
        <% end %>

    <% end %>

    <p>
      <%= I18n.t(:regards) %><br/>
      <a href="mailto:kontakt@brfcaraten.se">kontakt@brfcaraten.se</a><br/>
      <a href="http://www.brfcaraten.se/">www.brfcaraten.se</a>
    </p>
  </body>
</html>
