<% content_for :title, I18n.t(:about_me) %>
<% content_for :header, I18n.t(:settings) %>
<% content_for :description, I18n.t(:about_me) %>

<div class="page">
  <h1><%= I18n.t(:about_me) %></h1>

  <%= render 'layouts/flashmessage' %>

    <div class="eight column">
      <%= form_for current_user do |f| %>
        <%= f.label :firstname, I18n.t(:firstname), class: 'ie-label' %>
        <%= f.text_field :firstname, placeholder: I18n.t(:firstname) %>

        <%= f.label :lastname, I18n.t(:lastname), class: 'ie-label' %>
        <%= f.text_field :lastname, placeholder: I18n.t(:lastname) %>

        <%= f.label :street_number, I18n.t(:street_number), class: 'ie-label' %>
        <%= f.number_field :street_number, in: 1...41, placeholder: I18n.t(:street_number) %>

        <%= f.label :house_number, I18n.t(:house_number), class: 'ie-label' %>
        <%= f.number_field :house_number, in: 1...21, placeholder: I18n.t(:house_number) %>

        <%= f.label :telephone, I18n.t(:telephone), class: 'ie-label' %>
        <%= f.text_field :telephone, placeholder: I18n.t(:telephone) %>

        <%#= f.label :website, I18n.t(:website), class: 'ie-label' %>
        <%#= f.text_field :website, placeholder: I18n.t(:website) %>

        <%= f.submit I18n.t(:save), class: 'submit-button' %>
      <% end %>
    </div>

    <br>

    <div class="eight column change-password">
      <%= form_for current_user do |f| %>
        <%= f.label :new_password, I18n.t(:new_password), class: 'ie-label' %>
        <%= f.password_field :password, autocomplete: "off", placeholder: I18n.t(:new_password) %>

        <%= f.label :password_confirmation, I18n.t(:new_password_again), class: 'ie-label' %>
        <%= f.password_field :password_confirmation, placeholder: I18n.t(:new_password_again) %>

        <%= f.submit I18n.t(:change_my_password), class: 'submit-button' %>
      <% end %>
    </div>
</div>
