<% content_for :title, I18n.t(:about_me) %>

<div class="head-title">
  <h1><%= I18n.t(:settings) %></h1>
  <div class="head-description">
    <p><%= I18n.t(:about_me) %></p>
  </div>
</div>

<div class="page">
  <h1><%= I18n.t(:about_me) %></h1>

    <div class="six column">

       <%= form_for current_user do |f| %>
         <%= f.text_field :firstname, placeholder: I18n.t(:firstname) %>
         <%= f.text_field :lastname, placeholder: I18n.t(:lastname) %>
         <%= f.number_field :number, in: 1...20, placeholder: I18n.t(:number) %>
         <%= f.text_field :website, placeholder: I18n.t(:website) %>
         <%= f.submit I18n.t(:save), class: 'submit-button' %>
       <% end %>
    </div>

  <div style="clear:both"></div>

</div>