<h3><%= object.comment_threads.count %> <%= t(:comment_count) %> på <span><%= object.subject %></span></h3>

<ul class="comments">
  <!-- comment -->
  <% object.comment_threads.each_with_index do |comment, idx| %>
    <li>
      <div class="clearfix <%= idx % 2 == 0 ? 'odd' : '' %>">
      <img src="<%= image_path('missingprofile.png') %>" alt="<%= comment.user.name %>" class="left stay">
      <h6 class="meta"><a href="member.html"><%= comment.user.name %></a> <span class="date"><%= l comment.created_at, format: :long %></span></h6>
      <%#<a class="reply right" href="#">Reply</a>%>
      <p><%= auto_link(simple_format(comment.body), html: { target: '_blank' }) { |text| text } %></p>
      </div>
    </li>
  <% end %>
</ul>


<%= form_for Comment.new, url: path do |f| %>
  <h2><%= t :write_comment %></h2>
  <div class="clearfix">
    <%= f.text_area :body, required: '', rows: '5', cols: '20', placeholder: t(:write_comment) %>

    <%= f.submit t(:reply), class: 'btn left' %>
    <em class="right hide-480"><%= t :comment_only_visible_by_members %></em>

  </div>
<% end %>
