
<%#
https://github.com/artberri/sidr/issues/133
https://github.com/artberri/sidr/issues/8
%>

<div class="main-header-right right adjust-right">
  <nav class="megamenu_container">
    <ul id="nav" class="right megamenu">
      <li class="nav-parent">
        <%= link_to t(:home), root_path %>
          <% children = @menu.find { |x| x.key == 'home' }.children.select { |page| can? :read, page } %>
          <% if children.any? %>
            <ul>
              <% children.each do |child| %>
                <li>
                  <%= link_to child.title, child.path %>
                  <% sub_children = child.children.select { |page| can? :read, page } %>
                  <% if sub_children.any? %>
                    <ul>
                      <% sub_children.each do |sub_child | %>
                        <li class="nav-parent"><%= link_to t(:create_member), new_member_path %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
      </li>

      <% @menu.reject { |x| x.key == 'home' }.select { |page| can? :read, page }.each do |root| %>
        <li class="nav-parent">
          <%= link_to root.title, root.path %>
          <% children = root.children %>
          <% if children.any? %>
            <ul>
              <% children.each do |child| %>
                <li><%= link_to child.title, child.path %></li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
      <% if can? :read, News %>
        <li class="nav-parent">
          <%= link_to t(:news), news_index_path %>
          <% if can? :create, News %>
            <ul>
              <li class="nav-parent"><%= link_to t(:create_news), new_news_path %></li>
            </ul>
          <% end %>
        </li>
      <% end %>
      <% if can? :read, Topic %>
        <li class="nav-parent">
          <%= link_to t(:forum), topic_index_path %>
          <% if can? :create, Topic %>
            <ul>
              <li class="nav-parent"><%= link_to t(:create_topic), new_topic_path %></li>
            </ul>
          <% end %>
        </li>
      <% end %>
      <% if can? :read, Event %>
        <li class="nav-parent">
          <%= link_to t(:events), events_path %>
          <% if can? :create, Event %>
            <ul>
              <li class="nav-parent"><%= link_to t(:create_event), new_event_path %></li>
            </ul>
          <% end %>
        </li>
      <% end %>

      <% if current_user %>
        <li class="nav-parent"><%= link_to current_user.name, '#' %>
          <ul>
            <li class="nav-child"><%= link_to t(:settings), edit_user_registration_path %></li>
            <% if can? :function, User.new %>
              <li class="nav-parent">
                <%= link_to t(:members), members_path %>
                <% if can? :manage, User.new %>
                  <ul>
                    <li class="nav-parent"><%= link_to t(:create_member), new_member_path %></li>
                  </ul>
                <% end %>
              </li>
            <% end %>
            <% if can? :create, Letter %>
              <li class="nav-parent">
                <%= link_to t(:letters), letters_path %>
                <ul>
                  <li class="nav-parent"><%= link_to t(:create_letter), new_letter_path %></li>
                </ul>
              </li>
            <% end %>
            <% if can? :create, Slide %>
              <li class="nav-parent">
                <%= link_to t(:slides), slides_path %>
                <ul>
                  <li class="nav-parent"><%= link_to t(:create_slide), new_slide_path %></li>
                </ul>
              </li>
            <% end %>
            <% if can? :create, Page %>
              <li class="nav-parent">
                <%= link_to t(:create_page), new_page_path %>
              </li>
            <% end %>

            <li><%= link_to t(:sign_out), destroy_user_session_path %></li>
          </ul>
        </li>
      <% else %>
        <li class="nav-parent"><%= link_to t(:sign_up), new_user_registration_path %></li>
        <li class="nav-parent"><%= link_to t(:sign_in), new_user_session_path %></li>
      <% end %>
      </ul>
  </nav>
</div>
