<% upload ||= nil %>
<% uploads ||= upload ? [upload] : [] %>
<% single ||= false %>
<% display_uploader = !single || !upload %>

<%= image_tag 'image-loader.gif', id: 'image-loader', style: 'display: none;' %>
<table class="table-style-1 mobile-table uploads" %>
  <thead>
    <tr>
      <th>Bild</th>
      <th>Filnamn</th>
      <th>Storlek</th>
      <th>Ta bort?</th>
    </tr>
  </thead>
  <tbody>
    <% uploads.each do |upload| %>
      <tr>
        <td><%= image_tag upload.file.url(:thumb), data: { value: upload.id, form: single ? 'image_upload_id' : 'image_upload_ids' } %></td>
        <td><%= upload.file_file_name %></td>
        <td data-size='<%= upload.file_file_size %>'></td>
        <td><button class="remove-image">Ta bort bild</button></td>
      </tr>
      <% break if single %>
    <% end %>
  </tbody>
</table>

<%= s3_uploader_form callback_url: uploads_path,
                     callback_method: "POST",
                     callback_param: "upload[image_upload]",
                     key: "files/{timestamp}-{unique_id}-#{SecureRandom.hex}/${filename}",
                     key_starts_with: "files/",
                     max_file_size: 50.megabytes,
                     id: "s3-uploader",
                     class: "upload-form",
                     data: { single: single } do %>

  <%= file_field_tag :file, multiple: true, style: display_uploader ? '' : 'display: none;' %>
<% end %>
<script id="template-upload" type="text/x-tmpl">
  <div id="file-{%=o.unique_id%}" class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>
