<% content_for :title, t(:create_news) %>
<% content_for :header, t(:news) %>
<% content_for :description, t(:create_news) %>
<% content_for :breadcrumb do %>
  <%= link_to t(:news), news_index_path %>
  <%= link_to @news.subject, news_path(@news) %>
  <%= link_to t(:edit_news), edit_news_path(@news) %>
<% end %>

<div class="clearfix post">

  <% if can? :create, News %>
    <%= button_to t(:delete_news), { action: :destroy, id: @news.id }, { method: :delete, class: 'btn-2 right', form_class: 'form-right', data: { confirm: "Är du säker på att du vill ta bort nyheten?", disable_with: 'Tar bort...' } } %>
  <% end %>

  <label><%= t :subject %></label>
  <input type="text" data-form="subject" placeholder="<%= t :subject %>" value="<%= @news.subject %>">

  <%= render 'shared/upload', uploads: @news.image_uploads %>

  <h6 class="meta"><a class="date" href="#"><%= l(Date.today) %></a></h6>
  <div data-form="content" <%= edit_text_tags(@news, :content) %>><%= raw @news.content %></div>
</div>

<%= button_tag t(:save_news), class: 'form-post', data: { method: 'PUT', url: news_path(@news), name: 'news' } %>
