<% content_for :title, @news.subject %>
<% content_for :header, I18n.t(:news) %>
<% content_for :description, @news.subject %>
<% content_for :breadcrumb do %>
  <%= link_to t(:news), news_index_path %>
  <%= link_to @news.subject, news_path(@news) %>
<% end %>
<div class="clearfix post">
  <h1 class="title"><div <%= edit_text_tags(@news, :subject) %>><%= strip_tags(@news.subject) %></div></h1>

  <% if @news.image_uploads.any? %>
    <div class="mosaic-block circle">
      <a href="<%= @news.image_uploads.first.file.url(:large) %>" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="<%= @news.subject %>" style="display: inline; opacity: 0.8;"></a>
      <div class="mosaic-backdrop" style="display: block;"><img src="<%= @news.image_uploads.first.file.url(:large) %>" alt="<%= @news.subject %>"></div>
    </div>
  <% end %>

  <h6 class="meta"><a class="date" href="#"><%= l @news.created_at, format: :long %></a></h6>
  <div <%= edit_text_tags(@news, :content) %>><%= auto_link(simple_format(@news.content), html: { target: '_blank' }) { |text| text } %></div>
</div>

<% if can? :comment, News %>
  <%= render 'shared/comments', object: @news, path: comment_news_path %>
<% end %>
