<% content_for :title, @news.subject %>
<% content_for :header, I18n.t(:news) %>
<% content_for :description, @news.subject %>
<% content_for :breadcrumb do %>
  <%= link_to t(:news), news_index_path %>
  <%= link_to @news.subject, news_path(@news) %>
<% end %>
<div class="clearfix post">
  <h1 class="title"><div <%= edit_text_tags(@news, :subject) %>><%= strip_tags(@news.subject) %></div></h1>

  <!-- <div class="mosaic-block circle">
    <a href="post.html" class="mosaic-overlay link" title="Insert Your Title" style="display: inline; opacity: 0;"></a><div class="mosaic-backdrop" style="display: block;">
    <img src="img/fill-3.jpg" alt="Mock"></div>
  </div> -->
  <h6 class="meta"><a class="date" href="#">20 July 2014</a></h6>
  <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at erosCras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <div <%= edit_text_tags(@news, :content) %>><%= auto_link(simple_format(@news.content), html: { target: '_blank' }) { |text| text } %></div>
</div>
