<% content_for :title, @news.subject %>
<% content_for :header, I18n.t(:news) %>
<% content_for :description, @news.subject %>
<% content_for :breadcrumb do %>
  <%= link_to t(:news), news_index_path %>
  <%= link_to @news.subject, news_path(@news) %>
<% end %>
<div class="clearfix post">

  <% if can? :create, News %>
    <a href="<%= edit_news_path(@news) %>" class="right"><button><%= t :edit_news %></button></a>
  <% end %>

  <h1 class="title"><div <%= edit_text_tags(@news, :subject) %>><%= strip_tags(@news.subject) %></div></h1>

  <% if @news.image.present? %>
    <div class="mosaic-block circle">
      <a href="<%= @news.image.file.url(:large) %>" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="<%= @news.subject %>" style="display: inline; opacity: 0.8;"></a>
      <div class="mosaic-backdrop" style="display: block;"><img src="<%= @news.image.file.url(:medium) %>" alt="<%= @news.subject %>"></div>
    </div>

    <% images = @news.image_uploads.drop(1) %>
      <% if images.any? %>
      <div class="col-4-4 thumb-gallery super-list variable-sizes clearfix isotope" id="thumb-gallery" style="position: relative;">
        <% images.each do |image| %>
          <div class="col-1-3 cat-1 isotope-item">
            <div class="mosaic-block circle">
              <a href="<%= image.file.url(:large) %>" class="mosaic-overlay fancybox" data-fancybox-group="gallery" title="<%= @news.subject %>"></a>
            <div class="mosaic-backdrop" style="display: block;"><img src="<%= image.file.url(:small) %>" alt="<%= @news.subject %>" style="min-height: 200px;"></div></div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="clearfix"></div>

  <h6 class="meta"><a class="date" href="#"><%= l @news.created_at, format: :long %></a></h6>
  <div <%= edit_text_tags(@news, :content) %>><%= raw(@news.content) %></div>
</div>

<% if can? :comment, News %>
  <%= render 'shared/comments', object: @news, path: comment_news_path %>
<% end %>
