<% content_for :lead do %>
  <%= t :hello %> <%= @user.firstname %>
<% end %>

<% content_for :panel do %>
  <a href="<%= @letter.link %>"><%= @letter.link %></a>
<% end %>

<%= raw letter_variable_content(@letter, @user) %>
