<% content_for :title, @page.description %>
<% content_for :title, @page.title %>
<% content_for :description, @page.description %>
<% content_for :breadcrumb do %>
  <%= link_to @page.title, @page.path %>
  <%= link_to t(:edit_page), "#{@page.path}/edit" %>
<% end %>


<div class="clearfix post">
  <% unless @page.read_only? %>
    <div>
      <label>Synlig för roll</label>
      <%= select_tag :role_id, options_for_select(@roles, @page.selected_role_id), :'data-form' => "role_id" %>
    </div>

    <div>
      <label for="page-id"><%= Page.human_attribute_name(:below) %></label>
      <%= select("post", "person_id", Page.all.map {|p| [ p.title, p.id ] }, { selected: @page.page_id, include_blank: "- #{Page.human_attribute_name(:top)} -" }, {:'data-form' => 'page_id' }) %>
    </div>
  <% end %>

  <label><%= t :title %></label>
  <input type="text" data-form="title" placeholder="<%= t :title %>" value="<%= @page.title %>">

  <% unless @page.read_only? %>
    <%= render 'shared/upload', uploads: @page.image_uploads %>
  <% end %>

  <%= render 'shared/text', page: @page, key: 'content', default: 'Skriv sidan innehåll här' %>

  <% if can? :create, Page %>
    <%= button_to t(:delete_page), { action: :destroy, id: @page.id }, { method: :delete, class: 'btn-4 right', form_class: 'form-right', data: { confirm: "Är du säker på att du vill ta bort sidan?", disable_with: 'Tar bort...' } } %>
  <% end %>

  <%= button_tag t(:save_page), class: 'form-post', data: { method: 'PUT', url: page_path(@page), name: 'page' } %>
</div>
