<% content_for :title, @page.title %>
<% content_for :header, @page.title %>
<% content_for :description, @page.description %>
<% content_for :breadcrumb do %>
  <%= link_to @page.title, @page.path %>
<% end %>

<div class="clearfix post">
  <% if can? :create, News %>
    <a href="<%= edit_page_path(@page) %>" class="right"><button class="btn-2"><%= t :edit_page %></button></a>
  <% end %>

  <h1><%= @page.title %></h1>
  <div>
    <% text = @page.texts.find_or_create_by(key: 'content') %>
    <%= text.value.html_safe %>
  </div>
</div>
