<% content_for :title, t(:letters) %>
<% content_for :header, t(:letters) %>
<% content_for :description, t(:letters) %>
<% content_for :breadcrumb do %>
  <%= link_to t(:letters), letters_path %>
<% end %>

<div class="post-excerpt clearfix">

  <table class="table-style-1">
    <thead>
      <tr>
        <th>
          Rubrik
        </th>
        <th>
          Meddelande
        </th>
        <th>
          Senast skickad
        </th>
        <th>
          Skicka till grupp
        </th>
      </tr>
    </thead>
    <tbody>
      <% Letter.all.each do |letter| %>
        <tr>
          <td><%= link_to letter.subject, letter %></td>
          <td><%= truncate(letter.content, length: 50, escape: false) %></td>
          <td><%= l(letter.sent_to_all_at, format: :short) if letter.sent_to_all_at %></td>
          <td>
            <%= form_tag(send_letter_letter_path(letter.id), method: "POST", style: "margin:0") do %>
              <%= select_tag :role_id, options_for_select(@roles) %>

              <%= submit_tag('Skicka') %>
            <% end %>
          </td>
        </tr>
      <% end %>
     </tbody>
  </table>
</div>
