<% content_for :lead do %>
  <%= t :contact_message_from, name: @contact.name %>:
<% end %>
<% content_for :panel do %>
  /<%= @contact.name %><br/>
  <a href="mailto:<%= @contact.email %>"><%= @contact.email %></a><br/>
  <a href="<%= @contact.website %>"><%= @contact.website %></a>
<% end %>

<%= simple_format @contact.content %><br/>
