<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= simple_format @contact.content %><br/>
    </p>
    <p>
      /<%= @contact.name %><br/>
      <a href="mailto:<%= @contact.email %>"><%= @contact.email %></a><br/>
      <a href="<%= @contact.website %>"><%= @contact.website %></a>
    </p>
  </body>
</html>
