<% content_for :title, I18n.t(:contact) %>

<% content_for :javascript do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "gmap3.min" %>
<% end %>

<div class="head-title">
  <h1><%= I18n.t(:contact) %></h1>
  <div class="head-description">
    <p><%= I18n.t(:contact_header) %></p>
  </div>
</div>

<div class="inner-content">

  <div id="outer-map">
    <div id="map"></div>
  </div>

  <div id="contact" class="row">
    <div class="six column">
      <h1><%= I18n.t(:send_us_a_message) %></h1>
      <form id="contact-form">
        <label id="label" for="name"></label><input name="name" id="name" type="text" placeholder="Name" value="">
        <label id="label1" for="mail"></label><input name="mail" id="mail" type="text" placeholder="mail" value="">
        <label id="label2" for="website"></label><input name="website" id="website" type="text" placeholder="website" value="">
        <textarea name="comment" id="comment" placeholder="Message" ></textarea>
        <div id="msg" class="message"></div>
        <input type="submit" id="submit_contact" value="Send">
      </form>
    </div>

    <div class="six column">
      <%= raw Page.first.content %>
    </div>
  </div>
</div>
