<% content_for :title, @page.header %>
<% content_for :header, @page.title %>
<% content_for :description, @page.description %>

<% content_for :javascript do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "gmap3.min" %>
<% end %>

<div class="inner-content">

  <div id="outer-map">
    <div id="map"></div>
  </div>

  <div id="contact" class="row">

    <%= render 'layouts/flashmessage' %>

    <div class="six column">
      <h1><%= I18n.t(:send_us_a_message) %></h1>
      <form id="contact-form">
        <input name="name" id="name" type="text" placeholder="<%= I18n.t(:name) %>" value="" required>
        <input name="email" id="mail" type="text" placeholder="<%= I18n.t(:email) %>" value="" required>
        <input name="website" id="website" type="text" placeholder="<%= I18n.t(:website) %>" value="">
        <textarea name="comment" id="comment" placeholder="<%= I18n.t(:message) %>" required></textarea>
        <div id="msg" class="message"></div>
        <input type="submit" id="submit_contact" value="<%= I18n.t(:send) %>">
      </form>
    </div>

    <div class="six column">
      <%= raw @page.content.html_safe %>
    </div>
  </div>
</div>
