<% content_for :javascript do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "gmap3.min" %>
<% end %>

<div class="head-title">
  <h1><%= I18n.t(:contact) %></h1>
  <div class="head-description">
    <p><%= I18n.t(:contact_description) %></p>
  </div>
</div>

<!-- Inner Content -->
<div class="inner-content">

  <div id="outer-map">
    <div id="map"></div>
  </div>

  <div id="contact" class="row">
    <div class="six column">
      <h1><%= I18n.t(:send_us_a_message) %></h1>
      <form id="contact-form">
        <label id="label" for="name"></label><input name="name" id="name" type="text" placeholder="Name" value="">
        <label id="label1" for="mail"></label><input name="mail" id="mail" type="text" placeholder="mail" value="">
        <label id="label2" for="website"></label><input name="website" id="website" type="text" placeholder="website" value="">
        <textarea name="comment" id="comment" placeholder="Message" ></textarea>
        <div id="msg" class="message"></div>
        <input type="submit" id="submit_contact" value="Send">
      </form>
    </div>

    <div class="six column">
      <%= raw Page.first.content %>
    </div>
  </div>
</div>
<!-- End Inner Content -->

<footer class="row">

  <div class="four column twitter-widget">
    <div class="back-title">
      <h2>Flickr Gallery</h2>
    </div>
    <div class="flicker-images">
      <a href="#">
        <img alt="" src="/extraclean/upload/twit-widget1.jpg">
      </a>
      <a href="#">
        <img alt="" src="/extraclean/upload/twit-widget2.jpg">
      </a>
      <a href="#">
        <img alt="" src="/extraclean/upload/twit-widget3.jpg">
      </a>
      <a href="#">
        <img alt="" src="/extraclean/upload/twit-widget4.jpg">
      </a>
      <a href="#">
        <img alt="" src="/extraclean/upload/twit-widget5.jpg">
      </a>
      <a href="#">
        <img alt="" src="/extraclean/upload/twit-widget6.jpg">
      </a>
      <a href="#">
        <img alt="" src="/extraclean/upload/twit-widget7.jpg">
      </a>
      <a href="#">
        <img alt="" src="/extraclean/upload/twit-widget8.jpg">
      </a>
      <a href="#">
        <img alt="" src="/extraclean/upload/twit-widget9.jpg">
      </a>

    </div>
  </div>

  <div class="four column twiter">
    <div class="back-title">
      <h2>latest Twitter</h2>
    </div>
    <div>
        <p><img alt="" src="/extraclean/images/twiter.png">
        Envato's Most Wanted Winners <a href="#">http://t.co/JCyncAhw</a><br>
        <span>about 11 hours ago </span>
      </p>
    </div>
    <div>
      <p>
        <img alt="" src="/extraclean/images/twiter.png">
        <a href="#">@carmenangerer </a>I'll get back to you asap Carmen<br>
        <span>about 11 hours ago </span>
      </p>
    </div>
    <div>
      <p>
        <img alt="" src="/extraclean/images/twiter.png">
        <a href="#">@nextWPthemes </a>Please use ThemeForest for asking questions. <a href="#">http://t.co/drZ3XwXb</a><br>
        <span>about 4 hours ago</span>
      </p>
    </div>

  </div>

  <div class="four column contact-info">
    <div class="back-title">
      <h2>Contact info</h2>
    </div>
    <p><img alt="" src="/extraclean/images/phone.png"><span>0038 45 1234 5678</span></p>
    <p><img alt="" src="/extraclean/images/mail.png"><span><a href="#">info@contact.com</a></span></p>
    <p><img alt="" src="/extraclean/images/print.png"><span>+938 45 1234 5678</span></p>
    <p><img alt="" src="/extraclean/images/addres.png"><span>Little Lonsdale St, Melbourne
    Victoria 8011 Australia</span></p>
  </div>

  <article class="end-footer twelve column">
    <p>© Copyright 2012 Extra Clean</p>
  </article>

</footer>