<% content_for :lead do %>
  <%= t :hello %> <%= @resource.firstname %>
<% end %>

<p><%= I18n.t(:link_to_reset_password) %></p>

<p><%= link_to I18n.t(:change_my_password), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= I18n.t(:your_password_wont_change) %></p>
