<% content_for :title, t(:forum) %>
<% content_for :header, t(:forum) %>
<% content_for :description, t(:forum_header) %>
<% content_for :breadcrumb do %>
  <%= link_to t(:forum), topic_index_path %>
<% end %>

<% @topics.each do |topic| %>

  <div class="post-excerpt clearfix">
    <div class="col-2-3">
      <h3><%= link_to topic.subject, topic %></h3>
      <h6 class="meta"><a class="date" href="<%= topic_path(topic) %>"><%= l topic.created_at, format: :long %></a></h6>
      <p><%= auto_link(simple_format(truncate(topic.content, length: 250, escape: false)), html: { target: '_blank' }) { |text| text } %></p>
      <%= link_to I18n.t(:read_more), topic %>
    </div>
  </div>
<% end %>

<%= paginate @topics %>
