<% content_for :title, t(:new_post_header) %>
<% content_for :header, t(:forum) %>
<% content_for :description, t(:new_post_header) %>

<div class="clearfix post">
  <h1><%= t(:new_post_header) %></h1>

  <div>
    <%= form_for @topic, url: topic_index_path do |f| %>
      <div>
        <%= f.text_field :subject, placeholder: Topic.human_attribute_name(:subject) , required: '' %>
      </div>
      <div>
        <%= f.text_area :content, required: '', rows: '5', cols: '20', placeholder: Topic.human_attribute_name(:content)  %>
      </div>
      <div>
        <%= f.submit t(:create_topic) %>
      </div>
    <% end %>
  </div>
</div>
