<% content_for :title, I18n.t(:new_post_header) %>
<% content_for :header, I18n.t(:forum) %>
<% content_for :description, I18n.t(:new_post_header) %>

<div id="comment-leave" class="row">
  <h1><%= I18n.t(:new_post_header) %></h1>

  <div>
    <%= form_for Topic.new, url: topic_index_path, html: { id: "contact-form2"} do |f| %>
      <div class="four column">
        <label id="label" for="subject"></label>
        <%= f.text_field :subject, placeholder: I18n.t(:subject), required: '' %>
      </div>
      <div>
        <div class="nine column">
          <%= f.text_area :content, required: '' %>
        </div>
        <div class="three column">
          <%= f.submit I18n.t(:create) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
