<% content_for :title, @topic.subject %>
<% content_for :header, I18n.t(:forum) %>
<% content_for :description, @topic.subject %>
<% content_for :breadcrumb do %>
  <%= link_to t(:forum), topic_index_path %>
  <%= link_to @topic.subject, topic_path(@topic) %>
<% end %>

<div class="clearfix post">
  <h1 class="title"><%= @topic.subject %></h1>

  <h6 class="meta">
    <a class="date" href="#"><%= l @topic.created_at, format: :long %></a><br/>
    <% if @topic.role.present? %>
      <span class="display_for"><%= @topic.role.display_name %></span>
      <br>
    <% end %>
    <%= t :author %> <%= @topic.user.name %>
  </h6>
  <div><%= auto_link(simple_format(@topic.content), html: { target: '_blank' }) { |text| text } %></div>
</div>
<div class="paging clearfix"></div>

<%= render 'shared/comments', object: @topic, path: comment_topic_path %>
