<div class="head-title">
  <h1><%= I18n.t(:my_page) %></h1>
  <div class="head-description">
    <p><%= I18n.t(:about_me) %></p>
  </div>
</div>

<div class="row main-content">
  <article class="headings">
    <h1><%= I18n.t(:about_me) %></h1>

    <br>
    <div class="six column">
      <%= form_for "user", url: "/profile/#{current_user.id}/update" do |f| %>
        <%= f.text_field :name, placeholder: I18n.t(:name) %>
        <%= f.text_field :website, placeholder: I18n.t(:website) %>
        <%= f.password_field :password, placeholder: I18n.t(:password) %>
        <div id="remember">
          <%= f.check_box :remember_me, checked: true %>
          <%= f.label :remember_me, I18n.t(:remember_me) %>
        </div>

        <%= f.submit I18n.t(:sign_in), class: 'submit-button' %>
        <%= link_to I18n.t(:forgot_password), new_password_path('user') %>
      <% end %>


      <form>
        <label id="label" for="name"></label><input name="name" id="name" type="text" placeholder="Name" value="">
        <label id="label1" for="mail"></label><input name="mail" id="mail" type="text" placeholder="mail" value="">
        <label id="label2" for="website"></label><input name="website" id="website" type="text" placeholder="website" value="">
        <textarea name="comment" id="comment" placeholder="Message" ></textarea>
        <div id="msg" class="message"></div>
        <input type="submit" id="submit_contact" value="Send">
      </form>
    </div>


  </article>

</div>