<% if can? :read, :all %>
<footer class="row">

  <div class="four column contact-info popular-post">
    <div class="back-title">
      <h2><%= I18n.t(:latest_news) %></h2>
    </div>
    <% News.most_recent.each do |news| %>
      <div class="post">
        <a href="<%= news_path news %>">
          <%= image_tag news.thumbnail %>
          <%= image_tag 'image.png', class: 'hover-image' %>
        </a>
        <%= link_to raw("<p>#{news.subject}</p>"), news %>
        <span><%= l news.created_at, format: :short %></span>
      </div>
    <% end %>
  </div>

  <div class="four column contact-info twiter">
    <div class="back-title">
      <h2><%= I18n.t(:latest_topics) %></h2>
    </div>
    <% Topic.most_recent.each do |topic| %>
    <div class="forum">
      <div class="blog-icon"></div><%= link_to topic.subject, topic %><br>
      <span><%= I18n.t(:by) %> <%= topic.user.fullname %></span><br>
      <span><%= time_ago_in_words(topic.created_at) %> <%= I18n.t(:ago) %></span>
    </div>
    <% end %>
  </div>

  <div class="four column twiter">
    <div class="back-title">
      <h2><%= I18n.t(:latest_comments) %></h2>
    </div>
    <% Comment.most_recent.each do |comment| %>
    <div>
      <p><%= image_tag 'icons/17.png' %>
        <%= comment.body %><br>
        <span><%= I18n.t(:by) %> <%= comment.user.fullname %></span><br>
        <span><%= in_commentable(comment.commentable) %> <%= link_to comment.commentable.subject, comment.commentable %></span><br>
        <span><%= time_ago_in_words(comment.created_at) %> <%= I18n.t(:ago) %></span>
      </p>
    </div>

    <% end %>
  </div>

</footer>
<% end %>