<div class="outter-wrapper footer-wrapper">
  <div class="wrapper clearfix">
    <!-- Start Widget -->
    <div class="col-1-4 widget">
      <h3 class="widget-title"><%= t :contact_information %></h3>
      <ul class="list-1">
        <li>
          <strong><%= t :email %>:</strong><br>
          <a href="mailto:fiske@osfk.org">fiske@osfk.org</a>
        </li>
        <li>
          <strong><%= t :bank_account %>:</strong><br>
            847-4900
        </li>
        <li>
          <strong>Organisationsnummer:</strong><br>
          816400-1623
        </li>
      </ul>
    </div>



    <!-- Start Widget -->
    <div class="col-1-4 widget">

    </div>



    <!-- Start Widget -->
    <div class="col-1-4 widget">

    </div>


    <!-- Start Widget -->
    <div class="col-1-4 widget last">
      <a class="logo" href="<%= root_path %>">
        <img src="<%= image_path('osfk.png') %>" alt="<%= t :heading %>">
      </a>
      <ul class="list-1">
        <li>
            <strong><%= t :adress %>:</strong><br>
            Lennart Neckmansväg 14
        </li>
        <li>
          <strong><a href="http://kartor.eniro.se/m/9u86F" target="_blank"><%= t :view_on_map %></a></strong>
        </li>
      </ul>
    </div>
  </div>
</div>
