<nav>
  <ul>
    <li class="active"><%= link_to I18n.t(:home), root_path %></li>
    <% if can? :read, :all %>
      <li class="drop"><%= link_to I18n.t(:news), news_index_path %>
        <span></span>
        <ul class="dropdown">
          <% News.most_recent.each do |news| %>
            <li><%= link_to news.subject, news %></li>
          <% end %>
        </ul>
      </li>
      <li class="drop"><%= link_to I18n.t(:forum), topic_index_path %>
        <span></span>
        <ul class="dropdown">
          <li><%= link_to I18n.t(:new_post), new_topic_path %></li>
        </ul>
      </li>
      <% Page.closed.each do |page| %>
        <li><%= link_to page.title, page %></li>
      <% end %>
    <% end %>
    <% Page.opened.each do |page| %>
      <li><%= link_to page.title, page %></li>
    <% end %>
    <li><%= link_to I18n.t(:contact), contacts_path %></li>
  </ul>
</nav>