<nav>
  <ul>
    <li class="active"><%= link_to I18n.t(:home), root_path %></li>
    <% if can? :read, :all %>
      <li class="drop"><%= link_to I18n.t(:forum), topic_index_path %>
        <span></span>
        <ul class="dropdown">
          <li><%= link_to I18n.t(:new_post), new_topic_path %></li>
        </ul>
      </li>
    <% end %>
    <li><%= link_to I18n.t(:contact), contact_index_path %></li>
    <li><%= link_to I18n.t(:my_page), profile_index_path %></li>
  </ul>
</nav>