<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <%= csrf_meta_tag %>
        <title><%= t :root_title %> <%= yield :title %></title>
        <!-- <meta name="description" content=""> -->

        <%= stylesheet_link_tag "application", media: "all" %>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

      <%= javascript_include_tag "modernizr-2.6.2-respond-1.1.0.min.js" %>
    </head>
    <body>

<%# <div class="outter-wrapper pre-header-area header-style-5 sticky">
    <div class="wrapper clearfix">

      <div class="pre-header-left left">
        <ul>
        </ul>
        </div>

      <div class="pre-header-right right">
        <strong>Next Game:</strong> <div class="countdown styled"><div class="cd-years">72 <span>years</span></div><div class="cd-days">342 <span>days</span></div><div class="cd-hours">15 <span>hrs</span></div><div class="cd-mins">19 <span>min</span></div><div class="cd-secs">18 <span>sec</span></div></div>
      </div>

    </div>
  </div>
 %>
  <div class="outter-wrapper header-area header-style-4">

    <div class="wrapper clearfix logo-container with-menu">

      <div id="mobile-header" class="">
        <a id="responsive-menu-button" href="#sidr-main">
          <em class="fa fa-bars"></em> <%= t :menu %>
        </a>
      </div>

      <header>

          <div id="navigation" class="clearfix">

          <ul class="menuHideBtn">
            <li><a id="closebtn" class="fa" href="#">&#xf00d;</a></li>
          </ul>

          <div class="main-header-left left adjust-left">

            <a class="logo" href="<%= root_path %>">
              <img src="<%= image_path('osfk.png') %>" alt="<%= t :heading %>">
            </a>

          </div>

          <%= render 'shared/menu' %>
        </div>
      </header>
    </div>
  </div>

  <div class="outter-wrapper breadcrumb-wrapper">
    <div class="wrapper">
      <%= link_to '', root_path, class: 'fa' %>
      <%= link_to t(:heading), root_path %>
      <%= yield :breadcrumb %>
    </div>
  </div>

  <div class="message success<%= flash[:notice].blank? ? ' hide' : '' %>">
    <em class="fa"></em> <span><%= flash[:notice] %></span>
  </div>


  <div class="message error<%= flash[:error].blank? ? ' hide' : '' %>">
    <em class="fa"></em> <span><%= flash[:error] %></span>
  </div>

  <div class="message notice<%= flash[:alert].blank? ? ' hide' : '' %>">
    <em class="fa"></em> <span><%= flash[:alert] %></span>
  </div>

  <% banner = yield :banner %>
  <% if banner.present? %>
    <%= banner %>
  <% else %>

  <% end %>

  <div class="outter-wrapper body-wrapper">
    <div class="wrapper ad-pad clearfix">
      <% content = yield :contents %>
      <% if content.present? %>
        <%= content %>
      <% else %>
        <div class="col-3-4">
          <%= yield %>
        </div>

        <aside class="col-1-4 last centered">
          <div class="ad"><a href="http://www.rsösterskär.se/"><img alt="" src="http://www.sportnik.com/file/show/1763649"></a></div>
          <div class="ad"><a href="http://www.roslagsglas.se/"><img alt="" src="http://www.sportnik.com/file/show/1660499"></a></div>
          <div class="ad"><a href="http://klimatsmartosteraker.se/"><img alt="" src="http://www.sportnik.com/file/show/1660509"></a></div>
          <div class="ad"><a href="http://www.sportfiskarna.se/Omsportfiskarna/RegionM%E4lardalenSthlm/tabid/115/Default.aspx"><img alt="" src="http://www.sportnik.com/file/show/1660504"></a></div>
          <div class="ad"><a href="http://www.nordsjoidedesign.se/index.php?affiliate=80"><img alt="" src="http://www.sportnik.com/file/show/1728107"></a></div>
          <div class="ad"><a href="http://www.byggmax.com/se-sv/Byggmax/Butiker/Sthlm-Akersberga.aspx"><img alt="" src="http://www.sportnik.com/file/show/1733479"></a></div>
          <div class="ad"><a href="http://www.mkjaktofritid.se/"><img alt="" src="http://www.sportnik.com/file/show/1660517"></a></div>
          <div class="ad"><a href="http://www.sportfiskeboden.com/"><img alt="" src="http://www.sportnik.com/file/show/1660519"></a></div>
          <div class="ad"><a href="http://www.ica.se/trevehallen"><img alt="" src="http://www.sportnik.com/file/show/1728121"></a></div>
          <div class="ad"><a href="http://www.fiskelankar.se/"><img alt="" src="http://www.sportnik.com/file/show/1660555"></a></div>
          <div class="ad"><a href="http://www.mcdonalds.se/SWEDEN/restsite.nsf/Search/C2236409C4802190C125686400487402"><img alt="" src="http://www.sportnik.com/file/show/1728103"></a></div>
          <div class="ad"><a href="http://www.hi-sport.se/sidor/b_akersberga.html"><img alt="" src="http://www.sportnik.com/file/show/1728134"></a></div>
          <div class="ad"><a href="http://www.domarudden.se/"><img alt="" src="http://www.sportnik.com/file/show/1660516"></a></div>
          <div class="ad"><a href="http://www.flugspon.se/"><img alt="" src="http://www.sportnik.com/file/show/1965433"></a></div>
        </aside>

        <% aside = yield :aside %>
        <% if aside.present? %>
          <%= aside %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render 'layouts/footer' %>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->

   <%= javascript_include_tag "application" %>
   <% if can? :access, :admin %>

    <%= javascript_include_tag "admin" %>
   <% end %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59491029-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
