<!doctype html>
<html lang="sv">
<head>
  <title>BRF Caraten</title>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
$(document).ready(function(){

  $('.flexslider').flexslider({
    animation: "fade",
    start: function(slider){
      $('body').removeClass('loading');
    }
  });
})
</script>

</head>
<body>

  <div class="static-background">
    <img alt="" src="/assets/bg-static.jpg">
  </div>

  <div class="container">
    <div class="row">
      <header class="three column">
        <div class="inner-header">
          <div id="logo">
            <div>
              <a href="<%= root_path %>"><img alt="" src="/assets/logo.png"></a>
            </div>
          </div>
          <section class="menu">
            <nav>
              <ul>
                <li class="active"><%= link_to I18n.t(:home), root_path %></li>
                <% if can? :read, :all %>
                  <li class="drop"><%= link_to I18n.t(:forum), topic_index_path %>
                    <span></span>
                    <ul class="dropdown">
                      <li><%= link_to I18n.t(:new_post), new_topic_path %></li>
                    </ul>
                  </li>
                <% end %>
                <li><%= link_to I18n.t(:contact), contact_index_path %></li>
              </ul>
            </nav>
          </section>
          <%#<section class="header-end">
            <form action="http://www.examples.com" method="get">
             <div id="search-bar" class="clearfix">
              <input type="text" name="s" placeholder="Search" value="">
              <input type="submit" value="">
            </div>
          </form>
          <ul id="social-icons" class="clearfix">
            <li><a href="#"><img alt="" src="/assets/fb.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/gogle.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/rss.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/twi.png"></a></li>
          </ul>
        </section>%>
      </div>
    </header>

    <div id="content" class="nine column">

      <%= yield %>

    </div>

  </div>
</div>

</body>
</html>