<% content_for :title, @page.title %>
<% content_for :header, @page.title %>
<% content_for :description, @page.description %>

<% content_for :contents do%>

<div class="main-content col-4-5 right last">
  <h1><%= t :members %></h1>
  <!-- <p class="lead">Our Team is the best around. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p> -->

  <hr>

  <%
    @roles = Role.all
    %>

  <a href="#top" class="btn-3 xsmall-btn right fa"></a>
  <h3 id="section2"><%=  t :activated_members %></h3>
  <%= form_tag update_multiple_members_path, method: :put do %>
    <table class="table-style-2" %>
      <thead>
        <tr>
          <th>Förnamn</th>
          <th>Efternamn</th>
          <th>Email</th>
          <th>Roller</th>
          <th>Godkänd</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <%= fields_for "users[]", user do |f| %>
          <tr>
              <td><%= f.text_field :firstname, placeholder: t(:firstname), style: 'background-color: white;' %></td>
              <td><%= f.text_field :lastname, placeholder: t(:lastname), style: 'background-color: white;' %></td>
              <td><%= f.text_field :email, placeholder: t(:email), style: 'background-color: white;' %></td>
              <td><%= f.collection_select :role_ids, @roles, :id, :name, { }, { multiple: true, class: 'multiple', style: 'width: 250px;' } %></td>
              <td><%= f.check_box :approved %> <%= f.label :approved %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <%= submit_tag t :save %>
  <% end %>
  </div>

  <aside class="col-1-5">
    <div class="widget">
        <h3 class="widget-title"><%= t :sections %></h3>
        <ul class="widget-list  list-1">
          <li><a href="#section2"><%= t :activated_members %></a></li>
          <li><a href="#section3"><%= t :not_activated_members %></a></li>
        </ul>
      </div>
  </aside>


<% end %>
