<% content_for :title, 'Medlemmar' %>
<% content_for :header, 'Medlemmar' %>
<% content_for :description, 'Medlemmar' %>
<% content_for :breadcrumb do %>
  <%= link_to 'Medlemmar', members_path %>
<% end %>

<% content_for :contents do %>

<style>
  .table-style-2 ul {
    display: inline;
  }
  .table-style-2 li {
    display: inline;
    margin-left: 10px;
  }
  input {
    background-color: white !important;
  }
</style>

<%= raw "<style>" %>
  <%= raw "@media only screen and (max-width: 767px) {" %>
  <% ['Nummer', 'Förnamn', 'Efternamn', 'Paket', "Betalat #{Time.now.year}", ''].each_with_index do |day, idx| %>
    <%= raw "td:nth-of-type(#{idx + 1}):before { content: '#{day}'; }" %>
  <% end %>
  <%= raw "}" %>
  <%= raw "#users-count-display { display: block; margin-bottom: 5px; }" %>
<%= raw "</style>" %>

<div class="main-content col-5-5 last" id="users">
  <h1><%= t :members %></h1>
  <div class="widget">
    <ul class="widget-list list-1">
    </ul>
  </div>

  <input class="search" placeholder="Filtrera" />
  <div id="users-count-display">Visar <span class="users-count"><%= @users.length %></span> av totalt <%= @users.length %></div>

    <table class="table-style-1 mobile-table">
      <thead>
        <tr>
          <th class="sort" data-sort="number">Nummer</th>
          <th class="sort" data-sort="firstname">Förnamn</th>
          <th class="sort" data-sort="lastname">Efternamn</th>
          <th class="" data-sort="packages">Paket</th>
          <th><%= "Betalat #{Time.now.year}" %></th>
          <% if @can_manage %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody class="list">
        <% @users.each do |user| %>
          <tr>
            <td class="number"><%= user.number %></td>
            <td class="firstname"><%= user.firstname %></td>
            <td class="lastname"><%= user.lastname %></td>
            <td class="packages"><%= user.packages %></td>
            <td class="approved"><%= raw '<em class="fa fa-check"></em>' if user.approved? %></td>
            <% if @can_manage %>
              <td><%= link_to 'Mer info', member_path(user) %></td>
            <% end %>
            <td class="name" style="display:none;"><%= user.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= submit_tag t :save %>

  <a href="#top" class="btn-3 xsmall-btn right fa"></a>
</div>

<% end %>
