<% content_for :title, @page.title %>
<% content_for :header, @page.title %>
<% content_for :description, @page.description %>

<% content_for :contents do%>

<style>
  .table-style-2 ul {
    display: inline;
  }
  .table-style-2 li {
    display: inline;
    margin-left: 10px;
  }
  input {
    background-color: white !important;
  }
</style>

<div class="main-content col-5-5 right last">
  <h1><%= t :members %></h1>
  <div class="widget">
    <ul class="widget-list list-1">
    </ul>
  </div>

  <%
    @roles = Role.all
   %>

  <a href="#top" class="btn-3 xsmall-btn right fa"></a>

<!--   <h3><%#=  t :all_members %></h3> -->

  <%= form_tag update_multiple_members_path, method: :put do %>
    <table class="table-style-2" %>
      <thead>
        <tr>
          <th>Nummer</th>
          <th>Förnamn</th>
          <th>Efternamn</th>
          <th>Email</th>
          <th>Roller</th>
          <th>Godkänd</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <%= fields_for "users[]", user do |f| %>
            <tr>
              <td><%= f.text_field :number, placeholder: t(:number) %></td>
              <td><%= f.text_field :firstname, placeholder: t(:firstname) %></td>
              <td><%= f.text_field :lastname, placeholder: t(:lastname) %></td>
              <td><%= f.text_field :email, placeholder: t(:email) %></td>
              <td><%= f.collection_select :role_ids, @roles, :id, :name, { }, { multiple: true, class: 'multiple', style: 'width: 250px;' } %></td>
              <td><%= f.check_box :approved %> <%= f.label :approved %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    <%= submit_tag t :save %>
  <% end %>

  <a href="#top" class="btn-3 xsmall-btn right fa"></a>
</div>


<% end %>
