<% content_for :title, @user.name %>
<% content_for :header, @user.name %>
<% content_for :breadcrumb do %>
  <%= link_to 'Medlemmar', members_path %>
  <%= link_to @user.name, member_path(@user) %>
<% end %>

<% content_for :contents do %>

<div class="main-content clearfix">

<h1><%= @user.name %></h1>

<%= form_for(@user, url: root_path) do |f| %>
  <div class="clearfix">
    <div>
        <%= f.radio_button :regular, '1', checked: @user.regular, data: { price: 300 }, disabled: 'disabled' %>
        <strong><%= f.label 'Senior', value: '1' %></strong>

        <%= f.radio_button :regular, '0', checked: !@user.regular, data: { price: 175 }, disabled: 'disabled' %>
        <strong><%= f.label 'Ungdom/pensionär', value: '0' %></strong>
    </div>
    <div>
      <%= f.check_box :package1, data: { price: 200 }, disabled: 'disabled' %>
      <strong><%= f.label 'Mossön' %></strong>
    </div>

    <div>
      <%= f.check_box :package2, data: { price: 1000 }, disabled: 'disabled' %>
      <strong><%= f.label 'Årsfiskekort Drängsjön' %></strong>
    </div>
    <%= f.label 'Värdet av medlemskap:' %> <strong><span id='total-cost'></span> kr</strong>. Därefter <span id='total-year-cost'></span> kr per år.
  </div>

  <div>
    <table class="table-style-1 mobile-table">
      <tr>
        <td><%= f.label :approved %></td>
        <td><%= f.check_box :approved, disabled: 'disabled' %></td>
      </tr>
      <tr>
        <td><%= f.label :roles %></td>
        <td><%= @user.roles.pluck(:display_name).join(', ')%></td>
      </tr>
      <tr>
        <td><%= f.label :number %></td>
        <td><%= @user.number %></td>
      </tr>
      <tr>
        <td><%= f.label :firstname %></td>
        <td><%= @user.firstname %></td>
      </tr>
      <tr>
        <td><%= f.label :lastname %></td>
        <td><%= @user.lastname %></td>
      </tr>
      <tr>
        <td><%= f.label :identity_number %> <%= t :'identity_number_hint' %></td>
        <td><%= @user.identity_number %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td><%= f.label :telephone %></td>
        <td><%= @user.telephone %></td>
      </tr>
      <tr>
        <td><%= f.label :home_phone %></td>
        <td><%= @user.home_phone %></td>
      </tr>
      <tr>
        <td><%= f.label :address %></td>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <td><%= f.label :postal_address %></td>
        <td><%= @user.postal_address %></td>
      </tr>
    </table>
    <% end %>
    </div>
  </div>
<% end %>
